@import 'tailwindcss';

@font-face {
	font-family: 'M PLUS 1';
	src: url('/fonts/MPLUS1-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'M PLUS 1';
	src: url('/fonts/MPLUS1-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'M PLUS 1';
	src: url('/fonts/MPLUS1-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@theme {
	--font-sans: 'M PLUS 1', sans-serif;

	--color-charcoal-900: #151514;
	--color-charcoal-800: #222222;
	--color-charcoal-700: #333333;
	--color-charcoal-600: #777777;
	--color-charcoal-500: #aaaaaa;
	--color-charcoal-400: #c2c2c2;

	--color-bone-100: #eceae4;
	--color-bone-50: #f4f3f1;
}

:root {
	font-size: 0.875rem;
	font-weight: 500;
	background-color: var(--color-bone-50);
	color: var(--color-charcoal-900);
}
