@import url('/fonts/fonts.css');
@import 'tailwindcss';

@theme {
	--font-sans: 'M PLUS 1', sans-serif;

	--color-charcoal-900: #151514;
	--color-charcoal-800: #222222;
	--color-charcoal-600: #777777;
	--color-charcoal-500: #aaaaaa;
	--color-charcoal-400: #c2c2c2;

	--color-bone-100: #eceae4;
	--color-bone-50: #f4f3f1;
}

:root {
	font-weight: 500;
}
